.flex {
  display: flex;
  justify-content: space-evenly;
}


/* Header Start */
.header {
  padding: 10px 5%;
  background-color: #f7f8f9;
}

.location {
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #002f34;
}

.location .icons {
  position: absolute;
}

.icon__location {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.input__location {
  padding-left: 35px;
  border: none;
  outline: none;
  font-size: 16px;
}

.input__location::placeholder {
  font-size: 14px;
}

.button__location {
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}

.search__product {
  position: relative;
  border: 2px solid #002f34;
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
}

.search__product .searchText__product {
  width: 400px;
  color: #002f34;
  border: none;
  outline: none;
  padding: 0 0 0 10px;
  font-size: 16px;
}

.search__product .searchText__product::placeholder {
  font-size: 14px;
}

.search__product .searchText__buttonDiv {
  position: absolute;
  right: -2px;
  cursor: pointer;
  background-color: #002f34;
  /* border-radius: 0 4px 4px 0; */
  height: 100%;
  width: 50px;
  display: flex;
}

.search__product .searchText__buttonDiv .searchText__button {
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  height: 100%;
  /* width: 30px; */
  color: white;
  /* margin: 0 5px; */
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.header__buttons .loginBtn {
  color: #002f34;
  font-weight: 600;
  border-bottom: 2px solid #002f34;
}

.loginBtn:hover {
  border-bottom: none;
  text-decoration:none; 
  outline:none;
  padding-bottom: 2px;
}

.header__buttons .sellBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #002f34;
  border-radius: 20px;
  padding: 5px 10px;
}

.header__buttons .sellBtn .sellBtnText {
  color: #002f34;
}

/* Header End */


/* Category Start */

.categoryDiv {
  /* padding: 0 125px; */
  /* justify-content: space-between !important; */
}

.allCategories__Text {
  font-weight: 600;
  font-size: 14px;
  color: #002f34;
  cursor: pointer;
}

.allCategories__Btn {
  border: none;
  background: none;
  outline: none;
  color: #002f34;
}

.allCategories__Btn:focus {
  outline: 0;
}

.category__dd {
  position: relative;
}

.category__dropdown {
  position: absolute;
  left: -80px;
  z-index: 2;
  background-color: hsl(0, 0%, 100%);
  width: 1000px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  /* display: flex; */
}

.category__cardColumns {
  /* width: 100%;
  display: flex; */
  padding: 10px 15px;
}

.category__card {
  display: flex;
  border: none !important;
}

.category__list {
  list-style: none;
  padding-left: 0;
}

.category__li {
  text-align: left;
  color: #002f34;
  font-size: 11px;
  cursor: pointer;
  /* background-color: violet; */
  width: 80%;
}

.category__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category__item {
  background: none;
  border: none;
  outline: none;
  color: #002f34;
  padding: 0 5px;
  font-size: 13px;
}

.category__item:hover {
  border: none;
  outline: none;
  text-decoration:none; 
}

/* Category End */


/* Banner Start */

.bannerDiv {
  width: 100%;
}

.bannerDiv img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 170px;
}

/* Banner End */


/* Ads Start */

.ad_Div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.ad_block {
  width: 400px;
  height: 100px;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad__Text {
  color: gray;
}

/* Ads End */


/* Main Container Start */

.main__container {
  /* display: flex;
  flex-direction: row; */
  padding: 40px 35px;
}

/* Main Container End */


/* Card Items */

.card__wrapper {

}

.card__image__div {
  /* top left-right bottom */
  padding: 10px 30px 0px;
}

.card__image {
  height: 150px;
}

.card__body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 150px;
}

.card__featured__tag {
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: #ffce32;
  color: #002f34;
  font-size: 9px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 2px;
}

.card__heart__icon {
  position: absolute;
  top: 6px;
  right: 5px;
  cursor: pointer;
}

.card__heart__icon__isSelected {
  color: red;
  /* background-color: red; */
}

.card__featured {
  position: absolute;
  bottom: 0;
  height: 150px;
  border-left: 5px solid #ffce32;
  left: -1px;
  border-radius: 5px;
}

.card__price {
  color: #002f34;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px !important;
}

.card__title {
  font-weight: 400;
  color: rgba(0,47,52,.64);
  font-size: 12px;
}

.card__place {
  text-transform: uppercase;
  color: rgba(0,47,52,.64);
  font-size: 9px;
}

/* Card Items End */


/* Footer Start */

.footer {
  width: 100%;
  border-top: 1px solid rgba(0,47,52,.2);
}

.bigFooter {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  padding: 16px 16px 32px;
  background: #ebeeef;
  display: flex;
}

.footerItems {
  display: flex;
  width: 100%;
  padding: 0 80px;
}

.items__footer {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.item__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #002f34;
  font-size: 14px;
}

.item__ul {
  list-style: none;
  padding-left: 0;
  margin: 8px 0 0;
}

.item__li {
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: rgba(0,47,52,.64);
}

.social__footer {
  width: 20%;
  padding-left: 40px;
}

.social__icons {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.social__icon {
  color: rgba(0,47,52,.64);
  cursor: pointer;
}

.social__icon:hover {
  color: #002f34;
}

.smallFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  background: #002f34;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.cp__heading {
  font-weight: 700;
  padding-right: 8px;
  font-size: 12px;
  line-height: 18px;
}

/* Footer End */


/* Back to Top */

.backToTop {
  position: sticky;
  /* background-color: black; */
  top: 80px;
  left: 50%;
  width: fit-content;
  color:  #002f34;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50px;
  padding: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid rgba(226, 226, 226, 0.664);
  z-index: 100;
}

/* Back to Top end */